.container{
    padding-left: 0px;
    padding-right: 0px;
}

#typing_test--main_container{
    background-color: #add5ff;
}

#typing_test--comp{
    background-color: #fff;
    padding: 12px;
    height: 110px ;
    overflow-y : hidden;


}

#typing_test--comp > p{
    font-size: 2em;
    color : black;
    font-weight: bold;
}
div#typing--box > input {
    display: inline-block;
}
